doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title ลืมรหัสผ่าน
  body
    h2 ท่านได้ขอรีเซ็ตรหัสผ่านบนระบบ OCSB

    p
      strong เรียน
      |  #{name}

    p ท่านได้ขอรีเซ็ตรหัสผ่านบนระบบ OCSB
      br
      | โปรดดำเนินการรีเซ็ตรหัสผ่าน 
      a(href=resetLink) ได้ที่นี่

    //- p หากมีข้อสงสัยในการเข้าใช้งานระบบ กรุณาติดต่อฝ่ายเทคโนโลยีสารสนเทศ การรถไฟแห่งประเทศไทย

    p ขอแสดงความนับถือ
      br
      | OCSB
