doctype html
html
  head
    meta(charset='UTF-8')
    title เข้าสู่ระบบครั้งแรก
  body
    h2 ท่านได้รับสิทธิการเข้าใช้งานภายในระบบ OCSB

    p
      strong เรียน
      |  #{name}

    p ท่านได้รับสิทธิการเข้าใช้งานภายในระบบ OCSB
      br
      | โปรดดำเนินการเข้าสู่ระบบ 
      a(href=loginUrl) ได้ที่นี่

    p 
      strong รายละเอียดบัญชีสำหรับเข้าใช้งาน
      br
      | อีเมล : #{username}
      br 
      | รหัสผ่าน : #{password}

    //- p หากมีข้อสงสัยในการเข้าใช้งานระบบ กรุณาติดต่อฝ่ายเทคโนโลยีสารสนเทศ การรถไฟแห่งประเทศไทย

    p ขอแสดงความนับถือ
      br
      | OCSB